.wallet {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #f8fafc;
  min-height: 100vh;
  box-sizing: border-box;
}

.wallet-table{
    min-height: 0;
    margin: 10px 24px;
}
